In [30]:
import pandas as pd
import numpy as np
import const as Const

In [31]:
df = pd.read_excel('out.xlsx').drop('Unnamed: 0', axis=1).drop(0)

In [43]:
df = pd.read_excel('out.xlsx').drop('Unnamed: 0', axis=1)

In [44]:
df

          0       1       2       3       4       5       6       7       8
0         1       A       0       2       B       0       3       D       0
1         1       A       0       2       B       0       3       D       0
2         1       A       0       2       B       0  SWITCH  SWITCH  SWITCH
3         1       A       0  SWITCH  SWITCH  SWITCH       3       C       1
4      IDLE    IDLE    IDLE       2       C       1       3       C       1
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
163      20       B       3      19       C       3    IDLE    IDLE    IDLE
164      20       B       3      19       C       3    IDLE    IDLE    IDLE
165      20       B       3      19       C       4    IDLE    IDLE    IDLE
166  SWITCH  SWITCH  SWITCH      19       C       4      20       D       4
167      65       A       0      19       C       4      20       D       4

[168 rows x 9 columns]

In [45]:
alpha, beta, gamma = df.to_numpy()[:,:3], df.to_numpy()[:,3:6], df.to_numpy()[:,6:9]

In [46]:
prev = object()
np.stack([prev:=v for v in alpha if (prev!=v).all()])[:,1]

array(['A', 'IDLE', 'SWITCH', 'IDLE', 'SWITCH', 'D', 'SWITCH', 'B',
       'SWITCH', 'IDLE', 'SWITCH', 'B', 'SWITCH', 'IDLE', 'A', 'IDLE',
       'SWITCH', 'IDLE', 'SWITCH', 'IDLE', 'D', 'SWITCH', 'IDLE', 'B',
       'SWITCH', 'D', 'IDLE', 'SWITCH', 'B', 'SWITCH', 'D', 'IDLE', 'D',
       'IDLE', 'SWITCH', 'B', 'SWITCH', 'IDLE', 'D', 'IDLE', 'D', 'IDLE',
       'SWITCH', 'B', 'SWITCH', 'IDLE', 'D', 'IDLE', 'SWITCH', 'IDLE',
       'B', 'IDLE', 'B', 'SWITCH', 'IDLE', 'SWITCH', 'B', 'SWITCH', 'A'],
      dtype=object)

In [47]:
num_recipe = [0,0,0,0,0]
for x in [alpha,beta,gamma]:
    prev = object()
    y = [prev:=v for v in x if (prev!=v).all()]
    print(list(np.stack(y)[:,1]))
    recipes = list(filter(lambda ch: len(ch) == 1, list(np.stack(y)[:,1])))
    for recipe in recipes:
        num_recipe[ord(recipe)-65] += 1

['A', 'IDLE', 'SWITCH', 'IDLE', 'SWITCH', 'D', 'SWITCH', 'B', 'SWITCH', 'IDLE', 'SWITCH', 'B', 'SWITCH', 'IDLE', 'A', 'IDLE', 'SWITCH', 'IDLE', 'SWITCH', 'IDLE', 'D', 'SWITCH', 'IDLE', 'B', 'SWITCH', 'D', 'IDLE', 'SWITCH', 'B', 'SWITCH', 'D', 'IDLE', 'D', 'IDLE', 'SWITCH', 'B', 'SWITCH', 'IDLE', 'D', 'IDLE', 'D', 'IDLE', 'SWITCH', 'B', 'SWITCH', 'IDLE', 'D', 'IDLE', 'SWITCH', 'IDLE', 'B', 'IDLE', 'B', 'SWITCH', 'IDLE', 'SWITCH', 'B', 'SWITCH', 'A']
['B', 'SWITCH', 'C', 'SWITCH', 'B', 'SWITCH', 'C', 'SWITCH', 'B', 'SWITCH', 'C', 'IDLE', 'C', 'IDLE', 'SWITCH', 'IDLE', 'SWITCH', 'C', 'SWITCH', 'IDLE', 'B', 'IDLE', 'SWITCH', 'C', 'IDLE', 'C', 'IDLE', 'SWITCH', 'IDLE', 'SWITCH', 'C']
['D', 'SWITCH', 'C', 'SWITCH', 'D', 'SWITCH', 'C', 'SWITCH', 'D', 'SWITCH', 'C', 'IDLE', 'SWITCH', 'D', 'SWITCH', 'C', 'SWITCH', 'IDLE', 'D', 'IDLE', 'D', 'IDLE', 'D', 'IDLE', 'SWITCH', 'C', 'SWITCH', 'D', 'SWITCH', 'C', 'IDLE', 'SWITCH', 'IDLE', 'D', 'IDLE', 'D', 'IDLE', 'SWITCH', 'C', 'SWITCH', 'IDLE', 'D', 'IDLE', 'D']

In [48]:
num_recipe

[3, 13, 15, 20, 0]

In [49]:
material_use = [0,0,0]
for recipe, value in enumerate(num_recipe):
    for material, usage in enumerate(Const.recipeMaterialUse[recipe]):
        material_use[material] += usage * value

In [50]:
material_use

[562, 721, 120]

In [51]:
cost = 0
for i, x in enumerate(material_use):
    if x <= 50:
        cost += Const.materialCosts[i][0] * x
    elif x <= 500:
        cost += Const.materialCosts[i][1] * x
    else:
        cost += Const.materialCosts[i][2] * x

In [52]:
cost

305000

In [53]:
18*40000-cost

415000